
<!DOCTYPE html>
<html>

<head>
   <title>Map</title>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />
   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
      integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
      crossorigin=""></script>

   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
   <div class="container">
      <div id="map" style="width: 900px; height: 580px"></div>
      <script>
         // Creating map options
         var mapOptions = {
            center: [<%= gps.latitude %>,<%= gps.longitude %>],
            zoom: <%= gps.zoom %>
         }

         // Creating a map object
         var map = new L.map('map', mapOptions);

         // Creating a Layer object
         var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

         // Adding layer to the map
         map.addLayer(layer);
         // Creating a marker
         var marker = L.marker([<%= gps.latitude %>,<%= gps.longitude %>]);
         // Adding marker to the map
         marker.addTo(map);
      </script>
	<% if (gps.latitude == null && gps.longitude == null) { %>
		<p>No GPS information in this photo!</p>
	<% } %>
      <button type='button' class='btn btn-primary' onclick="history.back()">Go back</button>
   </div>
</body>

</html>
